<!DOCTYPE html>
<html lang="es" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
     <title>KRL</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

     <!-- Bootstrap  CSS -->
     <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

     <!-- CSS -->
     <link rel="stylesheet" href="css/theme.css">

     <!-- fonts -->
     <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
     <link href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

     <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700" rel="stylesheet">
</head>
<body>
<div id="meApp" v-cloak>


     <!-- Slides -->
     <div class="row slide-container">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
               </ol>

               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                    <div class="item active" style="background-image: url('img/slide-1.jpg')">
                         <div class="purple-opacity">
                              <h2 class="text-2">THE NIGHTERS</h2>
                         </div>
                    </div>
                    <div class="item" style="background-image: url('img/slide-2.jpg')">
                         <div class="purple-opacity">
                              <h2 class="text-2">LIVE MUSIC EXPERIENCE</h2>
                         </div>
                    </div>
                    <div class="item" style="background-image: url('img/slide-3.jpg')">
                         <div class="purple-opacity">
                              <h2 class="text-2">LA LUCHO JARANA </h2>
                         </div>
                    </div>
                    <div class="item" style="background-image: url('img/slide-4.jpg')">
                         <div class="purple-opacity">
                              <h2 class="text-2">POWER TRIO</h2>
                         </div>
                    </div>
               </div>

               <!-- Left and right controls -->
               <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
               </a>
          </div>
          <div class="social">
               <a href="https://www.facebook.com/karaokelivechile/" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
               </a>

               <a href="https://www.instagram.com/krlproducciones/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
               </a>

               <a href="https://www.youtube.com/watch?v=XoPpTkpxE2o" target="_blank">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
               </a>
          </div>
     </div>

     <!-- About -->
     <div id="about" class="row about section-padding-top-bottom">
          <div class="section-max-width-big">
               <div class="about-top-text section-padding-left-right">
                    <p>{{aboutTopText}}</p>
               </div>


               <div class="section">
                    <div class="youtube section-padding-left-right">
                         <div class="youtube-image-container" style="background-image: url('img/the-nighters.jpg')"></div>
                    </div>
                    <div class="about-text section-padding-left-right">
                         <div class="grid-center-container">
                              <div class="grid-center-content-vertical">
                                   <h3>THE NIGHTERS</h3>
                                   <p>Rock, Funk y Disco. Recorrido por clásicos bailables de los 70's , 80's hasta la actualidad</p>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="section">
                    <div class="youtube right section-padding-left-right">
                         <div class="youtube-image-container" style="background-image: url('img/lucho-jarana.jpg')"></div>
                    </div>
                    <div class="about-text right section-padding-left-right">
                         <div class="grid-center-container">
                              <div class="grid-center-content-vertical">
                                   <h3>LA LUCHO JARANA</h3>
                                   <p>Enciende tu fiesta con un show Full Bailable de cumbia, pachanga, y reggaeton</p>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="section">
                    <div class="youtube section-padding-left-right">
                         <div class="youtube-image-container" style="background-image: url('img/karaoke-live.jpg')"></div>
                    </div>
                    <div class="about-text section-padding-left-right">
                         <div class="grid-center-container">
                              <div class="grid-center-content-vertical">
                                   <h3>KARAOKE LIVE</h3>
                                   <p>Espectáculo de música en vivo donde el público es el protagonista, más de 200 canciones interpretadas por músicos profesionales le dan la posibilidad a cualquier persona de subirse al escenario y sentirse como una estrella de rock</p>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="section">
                    <div class="youtube right section-padding-left-right">
                         <div class="youtube-image-container" style="background-image: url('img/powe-trio.jpg')"></div>
                    </div>
                    <div class="about-text right section-padding-left-right">
                         <div class="grid-center-container">
                              <div class="grid-center-content-vertical">
                                   <h3>KRL EXPERIENCE</h3>
                                   <p>Un Power Trío con los mejores clásicos del Rock y el Blues</p>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="section">
                    <div class="youtube section-padding-left-right">
                         <iframe width="100%" height="315" src="https://www.youtube.com/embed/axEBoLhLogc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="about-text section-padding-left-right">
                         <div class="grid-center-container">
                              <div class="grid-center-content-vertical">
                                   <h3>Karaoke Online</h3>
                                   <p>A raíz del confinamiento del año 2020 KRL crea un formato Online para cantar desde Casa tu canción favorita junto a los mejores músicos del país, donde tu serás el protagonista de un video de primer nivel</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <!-- Band -->
     <div id="band" class="row title" style="background-image: url('img/title_01.jpg')">
          <div class="orange-transparent">
               <h1>Banda</h1>
          </div>
     </div>

     <div class="row band section-padding-top-bottom">
          <div class="musicians-container section-max-width-big">
               <button v-for="(musician, musicianIndex) in band" v-on:click="selectMusician(musician)" class="musician" v-bind:class="{ photoRight: musician.right }" data-toggle="modal" data-target="#musicianModal" type="button">
                    <div class="musician-img section-padding-left-right">
                         <div class="musician-photo" v-bind:style="{ backgroundImage: 'url(' + musician.img + ')' }">

                         </div>
                         <h3>{{musician.role}}</h3>
                    </div>
                    <div class="musician-text section-padding-left-right">
                         <div class="grid-center-container">
                              <div class="grid-center-content-vertical">
                                   <h4>{{musician.name}}</h4>
                                   <p>{{musician.description}}</p>
                                   <h6>Ver más</h6>
                              </div>
                         </div>
                    </div>
               </button>
          </div>
     </div>

     <!-- Modal -->
     <div id="musicianModal" class="modal fade musician-modal" role="dialog">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-img" v-bind:style="{ backgroundImage: 'url(' + selectedMusician.imgInside + ')' }">
                         <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                    </div>
                    <div class="modal-text">
                         <p>{{selectedMusician.descriptionInside}}</p>
                    </div>
               </div>
          </div>
     </div>

     <!-- Contact -->
     <div id="contact" class="row title" style="background-image: url('img/title_04.jpg')">
          <div class="orange-transparent">
               <h1>Contacto</h1>
          </div>
     </div>

     <div class="row contact section-padding-top-bottom">
          <div class="section-max-width-little section-padding-left-right">
               <form>
                    <input v-model="mail.name" type="text" placeholder="Nombre">
                    <input v-model="mail.mail" type="text" placeholder="Correo Electrónico">
                    <input v-model="mail.topic" type="text" placeholder="Asunto">
                    <textarea v-model="mail.message" rows="5" placeholder="Mensaje"></textarea>

               </form>
               <button v-on:click="sendMail()">enviar</button>
          </div>
     </div>

     <footer>
          <p>@krlproducciones</p>
     </footer>

     <!-- NavBar -->
     <div class="row nav-bar">
          <nav role='navigation'>
               <div class="logo">
                    <img src="img/logo.png" alt="">
               </div>
               <div id="menuToggle">
                    <input id="menu-button" v-on:click="menuClick()" type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu" style="display: none">
                    </ul>
               </div>
          </nav>
     </div>

     <div class="hidden-menu">
          <ul>
               <li>
                    <button v-on:click="scrollToDiv('about')">Nosotros</button>
               </li>
               <li>
                    <button v-on:click="scrollToDiv('band')">Banda</button>
               </li>
               <li>
                    <button v-on:click="scrollToDiv('contact')">Contacto</button>
               </li>
          </ul>
     </div>

     <div class="mail-message" v-if="mailMessage.ready || mailMessage.error">
          <div class="mail-content mail-ready" v-if="mailMessage.ready">
               <h4><i class="fa fa-check-circle" aria-hidden="true"></i> E-mail enviado</h4>
               <p>Nos comunicaremos con usted a la brevedad</p>
               <button v-on:click="closeReayMailMessage()"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
          </div>
          <div class="mail-content mail-error" v-if="mailMessage.error">
               <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error al enviar E-mail</h4>
               <p>Lo invitamos a intentarlo nuevamente más tarde</p>
               <button v-on:click="closeErrorMailMessage()"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
          </div>
     </div>
</div>

<!-- jQuery -->
<script src="libraries/jquery-1.11.3.min.js"></script>

<!-- Bootstrap JS-->
<script src="bootstrap/js/bootstrap.min.js"></script>

<!--VueJs-->
<script src="libraries/vue.min.js"></script>

<!-- JAVASCRIPT -->
<script src="js/app_04.js"></script>
</body>
</html>
