#menuToggle {
  display: block;
  position: absolute;
  top: 29px;
  right: 40px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

@media screen and (max-width: 992px) {
  #menuToggle {
    right: 20px;
  }
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #333333;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #333333;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*** vuejs ***/
[v-cloak] {
  display: none;
}

/*** Utilities ****/
.slide-container .carousel-inner .item, .musician-modal .modal-img, .band .musicians-container .musician .musician-img .musician-photo, .dates .date-container .date-photo, .gallery .image-container a .image {
  background: no-repeat center center;
  background-size: cover;
}

/****** Centrar ******/
.grid-center-container {
  display: table;
  width: 100%;
  height: 100%;
}

.grid-center-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.grid-center-content > * {
  display: inline-block;
  float: none !important;
}

.grid-center-content-vertical {
  display: table-cell;
  vertical-align: middle;
}

.grid-center-content-horizontal {
  text-align: center;
}

.grid-center-content-horizontal > * {
  display: inline-block;
  float: none !important;
}

.band .musicians-container .musician .musician-img .musician-photo, .dates .date-container .date-photo, .gallery .image-container a .image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.band .musicians-container .musician .musician-img .musician-photo:hover, .gallery .image-container a .image:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.title h1, .dates .date-container .date-photo h1, .dates .date-container .date-photo h2 {
  text-shadow: 1px 1px 0 #585858;
}

.band .musicians-container .musician .musician-img .musician-photo, .dates .date-container .date-photo, .gallery .image-container a .image, .mail-message .mail-content button {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.musician-modal .modal-img button {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

/*** clean ***/
.row {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  width: 100%;
}

button:focus {
  outline: 0;
}

/*** General ***/
body, h1, h2, h3, h4, h5, p, div, button, a {
  font-family: 'Raleway', sans-serif;
  color: #333333;
}

#meApp {
  position: relative;
}

.section-padding-top-bottom {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (max-width: 992px) {
  .section-padding-top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-padding-left-right {
  padding-left: 14px;
  padding-right: 14px;
}

.section-max-width-big {
  width: 100%;
  max-width: 1200px;
  display: table;
  margin: 0 auto;
}

.section-max-width-little {
  width: 100%;
  max-width: 800px;
  display: table;
  margin: 0 auto;
}

.title {
  height: 300px;
  background: no-repeat center center;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .title {
    height: 240px;
    background-attachment: inherit;
    background: no-repeat center center;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .title {
    height: 190px;
  }
}

.title > * {
  width: 100%;
  height: 100%;
  position: relative;
}

.title h1 {
  position: absolute;
  bottom: 14px;
  left: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .title h1 {
    font-size: 40px;
  }
}

.orange-transparent {
  background: rgba(255, 148, 50, 0.3);
}

.purple-transparent {
  background: rgba(192, 74, 255, 0.3);
}

.red-transparent {
  background: rgba(211, 69, 95, 0.3);
}

/*** Nav bar ***/
.nav-bar {
  width: 100%;
  height: 76px;
  background: #fff;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
}

.nav-bar nav {
  position: relative;
}

.nav-bar .logo {
  position: absolute;
  top: 18px;
  left: 40px;
  width: 134px;
}

@media screen and (max-width: 992px) {
  .nav-bar .logo {
    left: 20px;
  }
}

.hidden-menu {
  width: 500px;
  height: calc(100vh - 76px);
  background: #333333;
  position: fixed;
  top: 76px;
  right: 0;
  margin-right: -500px;
  opacity: 0;
  padding: 20px 0;
  z-index: 9999;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

@media screen and (max-width: 768px) {
  .hidden-menu {
    width: 100%;
  }
}

.hidden-menu ul {
  padding: 0;
}

.hidden-menu ul li button {
  color: #fff;
  font-size: 16px;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 12px 0;
  border: none;
}

.hidden-menu ul li button:focus {
  outline: 0;
}

.hidden-menu.active {
  margin-right: 0 !important;
  opacity: 1 !important;
}

/*** Slider ***/
.slide-container {
  margin-top: 76px;
  position: relative;
}

.slide-container .carousel-inner {
  width: 100%;
  height: 820px;
}

@media screen and (max-width: 992px) {
  .slide-container .carousel-inner {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .slide-container .carousel-inner {
    height: 400px;
  }
}

@media screen and (max-width: 375px) {
  .slide-container .carousel-inner {
    height: 210px;
  }
}

.slide-container .carousel-inner .item {
  width: 100%;
  height: 100%;
}

.slide-container .carousel-inner .item .purple-opacity {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(192, 74, 255, 0.3);
}

.slide-container .carousel-inner .item .purple-opacity .text-1, .slide-container .carousel-inner .item .purple-opacity .text-2 {
  max-width: 80%;
  position: absolute;
  padding: 10px 20px;
  font-size: 24px;
  color: #fff;
  text-shadow: -1px 2px 3px #333;
}

@media screen and (max-width: 992px) {
  .slide-container .carousel-inner .item .purple-opacity .text-1, .slide-container .carousel-inner .item .purple-opacity .text-2 {
    font-size: 14px;
  }
}


.slide-container .carousel-inner .item .purple-opacity .text-1 {
  top: 44px;
  left: 90px;
}

.slide-container .carousel-inner .item .purple-opacity .text-2 {
  bottom: 80px;
  right: 90px;
}

@media screen and (max-width: 768px) {
  .slide-container .carousel-inner .item .purple-opacity .text-1, .slide-container .carousel-inner .item .purple-opacity .text-2 {
    right: inherit;
    bottom: inherit;
    left: 10px;
    top: 10px;
    width: calc(100% - 120px);
    max-width: 100%;
  }
}

.slide-container .carousel-control {
  width: 5%;
}

@media screen and (max-width: 992px) {
  .slide-container .carousel-control {
    width: 10%;
  }
}

.slide-container .social {
  position: absolute;
  top: 16px;
  right: 40px;
}

@media screen and (max-width: 992px) {
  .slide-container .social {
    right: 20px;
  }
}

.slide-container .social a {
  color: #333333;
  margin-left: 6px;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.slide-container .social a:hover {
  color: #fff;
}

.slide-container .social a i {
  font-size: 44px;
}

@media screen and (max-width: 992px) {
  .slide-container .social a i {
    font-size: 30px;
  }
}

/*** About ***/
.about .section {
  width: 100%;
  float: left;
}

.about .section:first-child {
  margin-bottom: 40px;
}

.about .about-top-text {
  width: 100%;
  margin-bottom: 40px;
}

.about .about-top-text p {
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .about .about-top-text p {
    font-size: 1.3em;
  }
}

.about .about-top-text button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  font-weight: 600;
}

.about .youtube, .about .about-text {
  width: 50%;
  float: left;
}

@media screen and (max-width: 992px) {
  .about .youtube, .about .about-text {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .about .youtube iframe {
    height: 240px;
  }
}

@media screen and (max-width: 768px) {
  .about .youtube iframe {
    height: 190px;
  }
}

.about .about-text {
  height: 315px;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media screen and (max-width: 992px) {
  .about .about-text {
    height: auto;
  }
}

.about .about-text h3 {
  margin-bottom: 14px;
}

.about .youtube.right, .about .about-text.right {
  float: right;
}

.musician-modal .modal-img {
  width: 100%;
  height: 400px;
}

.musician-modal .modal-img button {
  font-size: 30px;
  opacity: 1;
  text-shadow: none;
  color: #fff;
  right: 8px;
  position: absolute;
  top: 6px;
}

.musician-modal .modal-img button:hover {
  color: #333333;
}

.musician-modal .modal-text {
  padding: 14px;
}

/*** Band ***/
.band .musicians-container {
  width: 100%;
}

.band .musicians-container .musician {
  width: 100%;
  display: table;
  margin-bottom: 40px;
  border: none;
  background: #fff;
}

.band .musicians-container .musician:last-child {
  margin-bottom: 0;
}

.band .musicians-container .musician .musician-img, .band .musicians-container .musician .musician-text {
  float: left;
  width: 50%;
  height: 350px;
}

.band .musicians-container .musician .musician-img h6, .band .musicians-container .musician .musician-text h6 {
  color: #ff9432;
  opacity: .7;
}

@media screen and (max-width: 992px) {
  .band .musicians-container .musician .musician-img, .band .musicians-container .musician .musician-text {
    width: 100%;
  }
}

.band .musicians-container .musician .musician-img {
  position: relative;
}

@media screen and (max-width: 768px) {
  .band .musicians-container .musician .musician-img {
    height: 200px;
  }
}

.band .musicians-container .musician .musician-img .musician-photo {
  width: calc(100% - 40px);
  height: 100%;
}

@media screen and (max-width: 992px) {
  .band .musicians-container .musician .musician-img .musician-photo {
    width: 100%;
  }
}

.band .musicians-container .musician .musician-img h3 {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: #fff;
  text-transform: uppercase;
  background: #ff9432;
  padding: 6px 10px;
  font-size: 30px;
}

@media screen and (max-width: 992px) {
  .band .musicians-container .musician .musician-img h3 {
    font-size: 20px;
    left: 10px;
    right: inherit;
  }
}

.band .musicians-container .musician .musician-text {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .band .musicians-container .musician .musician-text {
    height: auto;
    margin-top: 30px;
  }
}

.band .musicians-container .musician .musician-text h4 {
  color: #ff9432;
  margin-bottom: 20px;
}

.band .musicians-container .musician.photoRight .musician-img, .band .musicians-container .musician.photoRight .musician-text {
  float: right;
}

@media screen and (max-width: 992px) {
  .band .musicians-container .musician.photoRight .musician-img, .band .musicians-container .musician.photoRight .musician-text {
    float: left;
  }
}

.band .musicians-container .musician.photoRight .musician-img .musician-photo {
  float: right;
}

.band .musicians-container .musician.photoRight .musician-img h3 {
  left: 10px;
  right: inherit;
}

/*** Dates ***/
.dates .date-container {
  position: relative;
  width: 50%;
  height: 280px;
  float: left;
  margin-bottom: 40px;
}

.dates .date-container:last-child {
  margin-bottom: 0;
}

.dates .date-container:nth-last-child(2) {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .dates .date-container {
    width: 100%;
    height: 260px;
    padding: 0 14px;
  }
  .dates .date-container:nth-last-child(2) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .dates .date-container {
    height: 210px;
  }
}

.dates .date-container .date-card {
  position: absolute;
  width: calc(100% - 50px);
  height: calc(100% - 40px);
  background: #c04aff;
  top: 40px;
  right: 14px;
  z-index: -1;
}

.dates .date-container .date-card h4 {
  position: absolute;
  bottom: 12px;
  color: #fff;
  left: 14px;
  font-weight: 300;
  text-transform: capitalize;
}

.dates .date-container .date-photo {
  width: calc(100% - 20px);
  height: calc(100% - 40px);
  z-index: -1;
  position: relative;
}

.dates .date-container .date-photo h1, .dates .date-container .date-photo h2 {
  color: #fff;
  position: absolute;
}

.dates .date-container .date-photo h1 {
  top: 14px;
  right: 14px;
}

.dates .date-container .date-photo h2 {
  bottom: 14px;
  left: 14px;
  text-transform: uppercase;
}

/*** Gallery ***/
.gallery .image-container {
  float: left;
  width: 25%;
  height: 160px;
  margin-bottom: 40px;
}

.gallery .image-container:nth-last-child(1) {
  margin-bottom: 0;
}

.gallery .image-container:nth-last-child(2) {
  margin-bottom: 0;
}

.gallery .image-container:nth-last-child(3) {
  margin-bottom: 0;
}

.gallery .image-container:nth-last-child(4) {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .gallery .image-container {
    width: 50%;
  }
  .gallery .image-container:nth-last-child(3) {
    margin-bottom: 40px;
  }
  .gallery .image-container:nth-last-child(4) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .gallery .image-container {
    width: 100%;
  }
  .gallery .image-container:nth-last-child(2) {
    margin-bottom: 40px;
  }
}

.gallery .image-container a {
  width: 100%;
  height: 100%;
  display: table;
}

.gallery .image-container a .image {
  width: 100%;
  height: 100%;
  display: table;
}

/*** Contact ***/
.contact form input, .contact form textarea {
  float: left;
  width: 100%;
  border: none;
  border-bottom: 1px #333333 solid;
  margin-bottom: 30px;
  padding: 6px 4px;
}

.contact form textarea {
  resize: none;
}

.contact button {
  float: right;
  background: #ff9432;
  color: #fff;
  border: none;
  padding: 4px 10px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 24px;
}

/*** footer ***/
footer {
  padding: 28px 0;
  background: #ff9432;
}

footer p {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

/*** Mail ***/
.mail-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.mail-message .mail-content {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.mail-message .mail-content button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
}

.mail-message .mail-content button:focus {
  outline: 0;
}

.mail-message .mail-content button:hover {
  color: #333333;
}

.mail-message .mail-content button i {
  color: #fff;
  font-size: 30px;
}

.mail-message .mail-ready {
  background: #79eca5;
}

.mail-message .mail-error {
  background: #ff8393;
}

.mail-message h4 {
  padding: 14px 54px;
}

.mail-message p {
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 14px;
}
