@import "../../style/variables";

.band-member {
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    height: 300px;

    &:before {
      content: '';
      top: 0;
      left: 0;
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
      width: 100%;
      height: 100%;
      position: absolute;
    }

    @media (min-width: 768px) {
      height: 400px;
    }

    @media (min-width: 992px) {
      height: 600px;
    }

    > img {
      object-fit: cover;
    }
  }
}


.band-member-img-title {
  font-size: 2.5rem;
  bottom: 6%;
  right: 10%;
  color: $color-white;

  @media (min-width: 992px) {
    font-size: 4rem;
  }

  &__wave {
    height: 140%;
  }
}

.band-member-info {
  h5 {
    color: $color-primary;
  }
}
